.searchPanel, .onSearchPanel {
    box-sizing: border-box;
    min-width: 390px;
    max-width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 16px;
    top: -2px;
    gap: 8px;

    @media (min-width: 1360px) {
        width: 100%;
        max-width: 1280px;
        justify-content: flex-start;
    }
}

.onSearchPanel {
    position: fixed;
    z-index: 10;
}

.icon {
    color: #c4c4c4; 
    position: absolute;
    width: 20px;
    align-self: center;
    left: 25px;
    z-index: 1;
}

.input {
    height: 48px;
    width: 65%;
    border: none;
    border-radius: 12px;
    padding-left: 40px;
    font-size: 16px;
    color: #000;
    background-color: #eee;
    cursor: pointer;
    &::placeholder {
        color: #9c9c9c;
    }

    &:focus {
        outline: none;
    }

    @media (min-width: 1360px) {
        width: 420px;
    }
}

.deleteIcon, .deleteIconOnSearch {
    position: absolute;
    right: calc(20% + 25px);
    z-index: 11;
    cursor: pointer;

    @media (min-width: 1360px) {
        right: 20%;
    }
}

.deleteIconOnSearch {
    @media (min-width: 1360px) {
        left: 435px;
    }
}

.button {
    // box-sizing: border-box;
    height: 52px;
    min-width: 84px;
    width: 20%;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    background-color: #EB0C0C;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #C30000;
        transform: background-color 0.3s;
    }

    @media (min-width: 1360px) {
        height: 48px;
        width: 84px;
    }
}